:root {
  --font-primary: "Poppins", Arial, sans-serif;
  --font-secondary: "Rubik", Arial, sans-serif;
  --principal-1: #ff4700;
  --principal-2: #020100;
  --principal-3: #ffffff;
  --complementario-1: #9c9c9c;
  --complementario-2: #ffa37f;
  --complementario-3: rgb(77, 77, 77);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-primary);
  margin: 0;
  margin-top: -160px;
  margin-left: -80px;
  padding: 0;
  color: var(--principal-3);
  background-image: url("./img/background.png");
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.container {
  transform: scale(0.85);
  width: 105%;
  height: 1080px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 20px;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

/*header {
  grid-column: span 12;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  margin: 50px;
  max-width: 700px;
}*/

.info {
  grid-column: span 4;
  padding: 20px;
  border-radius: 10px;
  font-size: 30px;
  width: 500px;
  height: 900px;
}

.info h1 {
  margin-top: 30px;
  margin-bottom: 20px;
  font-family: var(--font-secondary);
  font-style: italic;
  font-size: 50px;
}

.info p {
  margin-bottom: 15px;
  font-size: 28px;
}
.info h2 {
  font-size: 25px;
  margin-bottom: 10px;
}

.formate {
  text-align: center;
  margin-bottom: 20px;
}

.formate-box {
  background: #ffe3da;
  border-radius: 10px;
  text-align: center;
  color: var(--principal-1);
  padding-bottom: 1px;
  margin-top: 30px;
  margin-right: 20px;
  overflow: hidden;
}

.formate-box h2 {
  font-family: var(--font-secondary);
  font-style: italic;
  font-size: 35px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.formate-box li {
  font-weight: bold;
  font-size: 31px;
  margin-bottom: 10px;
}

.slideshow {
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
  height: 2em;
}

.slideshow li {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transform: translateX(-20px); /* Inicia fuera del contenedor */
  transition: opacity 0.3s, transform 1s;
}

.slideshow li.active {
  opacity: 1;
  transform: translateX(0); /* Aparece en su posición original */
}

/*
.qr-box {
  grid-column: span 6; 
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  padding: 20px;
}

.text-container {
  flex: 1; 
  text-align: right;
}
.text-container h1 {
  margin: 0; 
  font-size: 32px;
  line-height: 2;
  background-color: var(--principal-3);
  color: var(--principal-1);
  padding-right: 100px;
  padding: 10px;
  border-radius: 10px;
  margin-top: 35px;
}

.qr {
  width: 210px;
  height: auto;
  margin-left: 20px;
}

.text-container p {
  font-weight: bold;
  margin: 0; 
  font-size: 30px;
  line-height: 1.5;
}*/

.video {
  grid-column: span 4;
}

.video-header {
  margin-top: 30px;
  display: flex; /* Activa Flexbox para alinear el título y el ícono */
  justify-content: space-between; /* Coloca los elementos en extremos opuestos */
  align-items: center; /* Alinea verticalmente los elementos */
}

.title-video {
  font-family: var(--font-secondary);
  font-style: italic;
  font-size: 40px;
  margin: 0;
  text-align: right;
  padding-right: 30px;
  margin-top: -80px;
}

.coder-icon {
  width: 70px;
  margin-right: 50px;
  margin-top: -80px;
}

.video-box {
  display: flex;
  flex-direction: column; /* Asegura que los elementos dentro se coloquen verticalmente */
  align-items: center;
  margin-top: 20px;
}

.estrellas {
  grid-column: span 4;
  border-radius: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.iframe-container {
  width: 500px; /* Tamaño visible del iframe */
  height: 900px; /* Tamaño visible del contenido */
  overflow: hidden; /* Oculta cualquier contenido extra */
  position: relative;
  border-radius: 10px;
}

.iframe-container iframe {
  width: 620px; /* Ajusta al doble del tamaño del contenedor */
  height: 1100px; /* Ajusta al doble del tamaño del contenedor */
  transform: scale(0.9); /* Reduce el contenido al 50% */
  transform-origin: 0 0; /* Comienza el escalado desde la esquina superior izquierda */
  position: absolute;
  left: -30px; /* Ajusta para centrar horizontalmente */
  border: none;
  margin-top: 10px;
}
